    <h1>Hoja de Vida</h1>
    
    <p>Nombre: Proxério Manoel Felisberto </p>
    <p>Dirección: Calle Henrique Ronzoni, 29 </p>
    <p>Barrio Pedro Zanivan </p>
    <p>Ciudad: Araranguá </p>
    <p>Departamento: Santa Catarina</p>
    <p>Pais: Brazil </p>
    <p>Jubilado en el año de 2009 y, actualmente, es estudiante <br />
    en la  Universidad Federal de Santa Catarina en el curso de <br />
    Postgrado en Tecnologías de Información e Comunicación. </p>
   
  