    <h1>Hoja de Vida</h1>
    
    <p>Nombre: Proxério Manoel Felisberto </p>
    <p>Dirección: Calle Henrique Ronzoni, 29 </p>
    <p>Barrio Pedro Zanivan </p>
    <p>Ciudad: Araranguá </p>
    <p>Departamento: Santa Catarina</p>
    <p>Pais: Brazil </p>
    <p>Jubilado en el año de 2009 y, actualmente, es estudiante <br />
    en la  Universidad Federal de Santa Catarina en el curso de <br />
    Postgrado en Tecnologías de Información e Comunicación. </p>
    <p> <img class="vertical" src="/images/Felis03.jpg" width="150" height="150" alt="Foto del autor" /> </p>
    <video class="main" controls >
        <source src="https://googledrive.com/host/0B-yIeblz0awrUmc4SHVYV2RMZkU/hoja_de_vida.webm" type="video/webm" width="150" height="150" >
        <source src="https://googledrive.com/host/0B-yIeblz0awrUmc4SHVYV2RMZkU/hoja_de_vida.mp4" type="video/mp4" width="150" height="150" > 
    </video>
  